@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  height: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pickle.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
}


/* #background {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/pickle.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: 100%;
} */

#mainpage {
  height: 200px;
}

footer {
  text-align: center;
  background-color: white;
  opacity: 0.9;
  margin-top: 50px;
}
.navbar {
  background: none;
}
#navbarSupportedContent {
  font-size: xx-large;

  color: white;
  width: 100%;
}
.nav-link:active {
  background-color: #04bab5;
}

.nav-link {
  color: white !important;
  transition: transform 0.2s;
}

.nav-link:hover {
  background-color: rgb(255, 126, 115);
  color: #5d5c5c !important;
  transform: scale(1.2);
}

.fancy-cards{
  text-align: center;
  margin: 80px auto;
}
.fancy-cards .fancy-card{
  display: inline-block;
  position: relative;
  top: 40px;
  left: 20px;
  box-sizing: border-box;
}

.fancy-card .top,
.fancy-card .middle,
.fancy-card .bottom{
  position: relative;
  border-radius: 3px;
  overflow: hidden;
  width: 100%;
  height: 250px;
  transition: transform 300ms linear-out;
}
.fancy-card .top{
  z-index: 3;
  transform: scale(1.0);
  transition: transform 300ms cubic-bezier(0.22, 0.61, 0.36, 1);

  box-shadow: 0px 1px 3px rgba(25,25,25,0.30);
}

.placesImg{
  width: 100%;
  height: auto
  
}
.fancy-card .middle{
  position: absolute;
  background: #aaa;
  top: 0px;
  z-index: 2;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}
.fancy-card .bottom{
  position: absolute;
  background: #ccc;
  top: 0px;
  z-index: 1;
  transform: rotate(0deg);
  transition: transform 250ms cubic-bezier(0.68, -0.55, 0.27, 1.55);
}

.fancy-card .caption{
  overflow: hidden;
  background: rgba(255,255,255,0.75);
  padding: 15px 10px;
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
}
.fancy-card .caption .title{
  color: #222;
  margin: 0px 0px 15px 0px;
  font-size: 1.4rem;
}
.fancy-card .caption .button{
  display: inline-block;
  color: #333;
  text-decoration: none;
  border: solid 1px #555;
  padding: 7px 13px;
  background-color: transparent;
  transition: all 300ms ease-in;
}


/*hovering*/
.fancy-card:hover .top{
  transform: scale(1.05);
}
.fancy-card:hover .middle{
 transform: rotate(-7deg);
 box-shadow: 1px 1px 2px rgba(74, 74, 74, 0.35);
}
.fancy-card:hover .bottom{
  transform: rotate(7deg);
  box-shadow: 1px 1px 2px rgba(113, 113, 113, 0.35);
}

.fancy-card:hover .button{
  background: rgba(0,0,0,0.8);
  color: #fff;
  border: 0px;
}

.locations {
  margin-left: 0 !important;
  margin-right:0!important;
  display: flex
}

h3 {
  color: darkslategray
}
.more {
  background-color: #5d5c5c;
  color: rgb(255, 126, 115)
}
.more:hover {
background-color: rgb(255, 126, 115);
color: #5d5c5c;
}

.detailsImg {
  display: block;
  max-width: 100%;
  height: auto;
  cursor: pointer;
}

.images {
  display: grid;
  width: 648px;
  margin: 0 auto;
  padding: 8px;
  display: grid;
  grid-template-columns: repeat(2, 320px);
  grid-gap: 8px;
  list-style: none;
  box-shadow: 0px 1px 5px 0px rgba(0, 0, 0, 0.2),
    0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 3px 1px -2px rgba(0, 0, 0, 0.12);
}

#map {
  height: 100%
}