@import url("https://fonts.googleapis.com/css?family=Quicksand:400,500,700");

body {
  font-family: "Quicksand", sans-serif;
  text-align: center;
  height: 100%;
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../images/lama.jpg");
  background-size: 100%;
}

#mainpage {
  height: 200px;
}

footer {
  text-align: center;
  background-color: white;
  padding-top: 10px;
  opacity: 0.9;
}
.navbar {
  background: none;
  float: right;
}
#navbarSupportedContent {
  font-size: xx-large;

  color: white;
  width: 100%;
}
.nav-link:active {
  background-color: #04bab5;
}

.nav-link {
  color: white !important;
  transition: transform 0.2s;
}

.nav-link:hover {
  background-color: rgb(255, 126, 115);
  color: #5d5c5c !important;
  transform: scale(1.2);
}

.btn-outline-success {
  color: rgb(255, 126, 115);
  border-color: rgb(255, 126, 115);
}

.btn-outline-success:hover {
  background-color: rgb(255, 126, 115);
  border-color: white;
  color: white;
}

.container {
  color: white;
}

h4 {
  text-align: left;
}
#giphy-input {
  background-color: transparent;
  color: white;
  border-radius: 26px;
}
#giphy-input:focus {
  outline: none;
}
#add-gif {
  border: none;
}
#add-gif:active {
  box-shadow: none;
}
#add-gif:focus {
  box-shadow: none;
}

.gif {
  margin: auto;
}

#mainCont {
  margin-left: 20px;
  margin-right: 20px;
}

.gif-btn {
  color: white;
  font-weight: bold;
}
/* #add-meme {
  border: none;
}
#add-meme:active {
  box-shadow: none;
}
#add-meme:focus {
  box-shadow: none;
}
#memes-input {
  background-color: transparent;
  color: white;
  border-radius: 26px;
} */
